function Constant.init 0
push constant 4
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 65
push constant 10
call Math.multiply 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
push constant 0
push constant 10
call Math.multiply 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 0
add
push constant 511
push constant 10
call Math.multiply 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 0
add
push constant 255
push constant 10
call Math.multiply 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Constant.getFieldXY 0
push static 0
return
