function shadow04.newImage 3
push constant 5
pop local 1
push constant 11
pop local 2
push local 1
push local 2
call Image.newBitmap 2
pop local 0
push local 0
push constant 0
push constant 20480
push constant 21845
push constant 0
push constant 0
push constant 0
push constant 21856
neg
push constant 21846
neg
push constant 42
push constant 0
push constant 0
push constant 21844
push constant 21845
push constant 341
push constant 0
push constant 32767
neg
push constant 1
sub
call Image.push 17
pop temp 0
push local 0
push constant 21846
neg
push constant 21846
neg
push constant 2730
push constant 0
push constant 16384
push constant 21845
push constant 21845
push constant 5461
push constant 0
push constant 24576
neg
push constant 21846
neg
push constant 21846
neg
push constant 10922
push constant 0
push constant 16384
push constant 21845
call Image.push 17
pop temp 0
push local 0
push constant 21845
push constant 5461
push constant 0
push constant 32767
neg
push constant 1
sub
push constant 21846
neg
push constant 21846
neg
push constant 2730
push constant 0
push constant 0
push constant 21844
push constant 21845
push constant 341
push constant 0
push constant 0
push constant 21856
neg
push constant 21846
neg
call Image.push 17
pop temp 0
push local 0
push constant 42
push constant 0
push constant 0
push constant 20480
push constant 21845
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Image.push 17
pop temp 0
push local 0
return
